body{
  background-color: #000000;
 
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons{
  font-size: 35px;
  color: #ffffff;
}

#heading{
  color: #EAF0F1;
  font-size: 70px;
  font-family: poppins;
}

